*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,
body{
  height: 100%;
  width: 100%;
}


input , button {
  padding: 10px, 20px;
  margin: 40px;
  font-size: 15px;
}
button {
  background-color: aquamarine;
  padding: 24px ;
  
}
input{
  background-color: greenyellow;
  padding: 24px;
}