*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f2f4f8;
}

.card{
  background:white;
  padding:40px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

h1{
  font-size:80px;
  margin-bottom:20px;
  color:#333;
}

.btns button{
  padding:12px 22px;
  margin:10px;
  border:none;
  border-radius:10px;
  background:#4f46e5;
  color:white;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
}

.btns button:hover{
  transform:scale(1.05);
  background:#4338ca;
}
